<h2>The Directives Component (Week 7)</h2>
<p>Built-in Structural Directives</p>

<h3>*ngFor="let each? of ????"</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>First Language</th>
            <th>Status (*ngIf)</th>
            <th>Status2 ([ngSwitch] / *ngSwitchCase)</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.age}}</td>
            <td>{{user.language}}</td>
            <!-- <td>{{user.active}}</td> -->
            <!-- <td *ngIf="user.active">Active</td>
            <td *ngIf="!user.active">Inactive</td> -->
            <td>
                <span *ngIf="user.active">Active</span>
                <span *ngIf="!user.active">Inactive</span>
            </td>

            <td [ngSwitch]="user.active">
                <span *ngSwitchCase="true">Active</span>
                <span *ngSwitchCase="false">Inactive</span>
            </td>
        </tr>
    </tbody>
</table>

