<h1>Posts (Week 8)</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Title</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td>{{post.id}}</td>
            <td>{{post.userId}}</td>
            <!-- <td>{{post.title}}</td> -->
            <td>
                <a [routerLink]="['/post', post.id]">
                    {{post.title}}
                </a>
            </td>
            <td (click)="goToPost(post.id)"><mark>{{post.body}}</mark></td>
        </tr>
    </tbody>
</table>
